/* line 1, /Users/frankwang/src/redditsilver/source/css/style.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/frankwang/src/redditsilver/source/css/style.scss */
html {
  font-size: 62.5%; }

/* line 9, /Users/frankwang/src/redditsilver/source/css/style.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* line 13, /Users/frankwang/src/redditsilver/source/css/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 18, /Users/frankwang/src/redditsilver/source/css/style.scss */
a {
  color: #999;
  text-decoration: none;
  cursor: pointer; }
  /* line 22, /Users/frankwang/src/redditsilver/source/css/style.scss */
  a:active {
    color: #ff3c1f; }
  /* line 25, /Users/frankwang/src/redditsilver/source/css/style.scss */
  a:hover {
    color: #ff3c1f; }

/* line 30, /Users/frankwang/src/redditsilver/source/css/style.scss */
h2 {
  font-size: 3rem; }

/* line 34, /Users/frankwang/src/redditsilver/source/css/style.scss */
header {
  text-align: center;
  margin-bottom: 15rem; }
  /* line 37, /Users/frankwang/src/redditsilver/source/css/style.scss */
  header p {
    font-size: 2rem; }

/* line 42, /Users/frankwang/src/redditsilver/source/css/style.scss */
.postbox {
  margin: 0 auto;
  width: 100%;
  max-width: 600px; }

/* line 48, /Users/frankwang/src/redditsilver/source/css/style.scss */
.post {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  font-size: 1.6rem; }
  /* line 53, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .post img, .post video {
    width: 100%;
    margin-bottom: 1rem; }

/* line 59, /Users/frankwang/src/redditsilver/source/css/style.scss */
.loader {
  display: inline; }
  /* line 61, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .loader svg {
    position: relative;
    top: 0.2rem;
    height: 1.6rem; }
    /* line 65, /Users/frankwang/src/redditsilver/source/css/style.scss */
    .loader svg path {
      fill: #ff3c1f; }

/* line 71, /Users/frankwang/src/redditsilver/source/css/style.scss */
.commentbox {
  overflow: hidden; }

/* line 75, /Users/frankwang/src/redditsilver/source/css/style.scss */
.comment {
  position: relative;
  margin: 1em 0;
  padding-bottom: 1rem; }
  /* line 79, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .comment .author {
    float: left;
    margin-right: 2em; }
  /* line 83, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .comment .votes {
    float: left; }
  /* line 86, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .comment .hours {
    float: right; }
  /* line 89, /Users/frankwang/src/redditsilver/source/css/style.scss */
  .comment div {
    clear: both;
    padding-top: 1rem; }
    /* line 92, /Users/frankwang/src/redditsilver/source/css/style.scss */
    .comment div p {
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.4; }
    /* line 97, /Users/frankwang/src/redditsilver/source/css/style.scss */
    .comment div a {
      text-decoration: underline; }
